/* Google fonts */

@import url('https://fonts.googleapis.com/css?family=Hind|Roboto|Sofia');

/* Usage of fonts

font-family: 'Sofia', cursive;(for headers)
font-family: 'Hind', sans-serif;(for miscelaneous)
font-family: 'Roboto', sans-serif; (for input boxes)

 */

/* CSS for index */

#main-banner {
    width: 100%;
    height: 300px;
    text-align: center;
    background-image: url("/media/images/maldives.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
}

#main-banner img {
    width: 100%;
}


h1 {
    padding-top: 30px;
    font-family: 'Sofia', cursive;
    font-size: 69px;
    margin: 0px;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
}

.item {
    width: 50%;
    height: 500px;
}

/* CSS for Google Maps */



html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

